/Campaign Progression Ideas.txt
Debug
Release
*.suo
*.user
*.db
.vs
log.txt
*.zip
/REJECT Mission 6
/Resources/Briefings/Exiles08.txt
/Resources/Briefings/Exiles09.txt
/Resources/Briefings/Exiles10.txt
/Resources/Briefings/Exiles11.txt
/Resources/Briefings/Exiles12.txt
